<% if user_signed_in? %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <!-- Brand -->
      <%= link_to "Wife App", root_path, class: "navbar-brand" %>

      <!-- Toggler for Mobile View -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left-Aligned Links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
        </ul>

        <!-- Right-Aligned Links -->
        <ul class="navbar-nav ms-auto">
          <!-- User Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user" style="color: #ffffff;"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#"><%= link_to "Edit User", edit_user_registration_path, class: "dropdown-item btn btn-link text-dark p-0 ms-3"%></a></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item btn btn-link text-danger p-0 ms-3" %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<% end %>

