<% if user_signed_in? %>
<nav class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color: #2b2f33; border-bottom: 1px solid #f8f9fa;">
  <div class="container-fluid">

<!-- Sidebar Toggle Button -->
    <button
      class="navbar-toggler text-white me-2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#sidebarCollapse"
      aria-controls="sidebarCollapse"
      aria-expanded="false"
      aria-label="Toggle sidebar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <%= link_to "PrincessWife App", root_path, class: "navbar-brand text-white" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <!-- Navbar Content -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
       

              <!-- Right-Aligned Links -->
        <ul class="navbar-nav ms-auto">
          <!-- User Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-user me-1 "></i> User
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li>
                <%= link_to "Edit User", edit_user_registration_path, class: "dropdown-item " %>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item text-danger" %>
              </li>
            </ul>
          </li>
        </ul>



    </div>
  </div>
</nav>
<% end %>